#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 80px;
        background-color: white; 
        z-index: 1020;    
        width: 100%;
    margin-bottom: 10px;
    
}

.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 1.5rem;
    opacity: 0.6;
}

.filter a{
    text-decoration: none;
    color: black;
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
}

.filter p{
    font-size: 0.8rem;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.tax-info{
    display: none;
}

.tax-toggle{
    border: 1px solid grey;
    border-radius: 2rem;
    height: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.tax-toggle:hover{
    background-color: #f7ecec;
}

/* MOBILE: make category bar horizontal scroll */
/* @media (max-width: 900px) { */

#filters {
    display: flex;
    flex-wrap: nowrap;       /* row only */
    overflow-x: auto;        /* horizontal scroll */
    white-space: nowrap;
    padding: 0.7rem 0.5rem;
    position: sticky;
    top: 70px;
    background: white;
    z-index: 2000;
    gap: 1.2rem;             /* spacing between icons */
}

#filters::-webkit-scrollbar {
    display: none;           /* hide scrollbar */
}

.filter {
    flex: 0 0 auto;          /* each item stays same size */
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    opacity: 0.6;
    text-align: center;
}

.filter p {
    font-size: 0.7rem;
}